<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fun-with-ejs | <%= title %> </title>
</head>
<body>
    <h1>About Ejs </h1>
    <%- include ("./partials/nav.ejs")  %> 

    <div class="content">
        <p>ejs about origin</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In soluta nesciunt consequuntur incidunt ab vero non quisquam natus provident officiis tenetur, facilis sapiente fugiat omnis, officia dolores veritatis repudiandae laborum!
        Molestiae expedita commodi nobis praesentium iusto aliquam asperiores sequi! Sit libero modi commodi perspiciatis rem quod eos ad laboriosam consectetur doloribus! Consequuntur voluptates accusamus, earum laboriosam dolores molestias eius odio.
        Laboriosam nemo tempora qui repudiandae esse autem officiis corporis mollitia doloremque totam saepe reprehenderit, ad earum consequuntur labore quam maiores voluptate cumque pariatur! Earum repellat nobis hic neque quo laborum.</p>
    </div>

</body>
</html>