<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fun-with-ejs </title>
</head>
<body>
    <h1>Fun with Ejs</h1>
    <nav>
        <ul>
            <li><a href="./index.ejs">home</a></li>
            <li><a href="./about.ejs">about</a></li>
            <li><a href="./contact.ejs">contact</a></li>
        </ul>
    </nav>

    <div class="content">
        <p>Learning ejs is fun</p>
        <p></p>
    </div>
    
</body>
</html>